name: enforce-format

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    name: Enforce spec format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Enforce spec format
        run: 'if ! node bin/emu-format.js --check spec/index.html; then echo "You need to run \`npm run format\`"; exit 1; fi'
